---
layout: main
---
{% assign events = site.events | sort: 'date' | reverse %}
{% for event in events %}
<article class="post">
  {% if event.img %}
    {% assign name = event.path | split:"/" | last | split:"." | first %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/events/" | prepend: site.baseurl | append: name | append: "/" | append: event.img | remove: ".jpg" | append: "_tn.jpg" }})" href="{{event.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{event.url | prepend: site.baseurl}}">{{event.title}}</a></h2>
    <p>{{ event.description | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{event.date | date: '%Y, %b %d'}}</span>
  </div>
</article>
{% endfor %}